<script>
  $('#filterButt').click(function () {
    if ($('#filterPanel').height() == '0') {
      $('#filterPanel').height('auto');
    } else {
      $('#filterPanel').height('0');
    }
  });
</script>
